/* Highlighted borders for debugging */
/** {
  border-width: 0.1rem;
  border-color: red;
  border-style: dashed;
}*/

/* Main Styles */

a {color: #268bd2}
a:visited {color: #6c71c4}
li {list-style-type: none}
ul {margin: 0;
    padding:0}

.bg-beige {background-color: #fdf6e3}
.font-sans {font-family: 'Noto Sans'}
.font-gray {color: #657b83;}
.txt-ctr {text-align: center;}
.sd-font {font-size: 3rem}
.lg-font {font-size: 10rem}
.undl {text-decoration: underline}
.md-pic{height: 30rem}
.lg-pic{height: 40rem}
.round {border-radius: 10rem}
.no-margin {margin: 0}
.sm-margin{margin: 10%}
.no-padding {padding: 0}

.inline-b {display: inline-block}
.bot {bottom: 0}

@media (min-width: 40rem){
  .sd-font {font-size: 2rem}
  .lg-font {font-size: 5rem}
  .sm-margin{margin: 5%}
  img {height:40rem; width: auto}
}

@media (min-width: 80rem){
  .sd-font {font-size: 1rem}
  .lg-font {font-size: 2rem}
  .sm-margin{margin: 1%}
  img {height:20rem; width: auto}
}
